@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'extraBoldFont';
  src: url('../../public/Fonts/BarlowCondensed-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'bFont';
  src: url('../../public/Fonts/BarlowCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'extraLightFont';
  src: url('../../public/Fonts/BarlowCondensed-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'mFont';
  src: url('../../public/Fonts/BarlowCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'rFont';
  src: url('../../public/Fonts/BarlowCondensed-Regular.ttf') format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --regular: 200;
  --bold: 500;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(245deg, rgba(5, 27, 61, 1)25%, rgba(27, 92, 124, 1) 45%, rgba(5, 27, 61, 1) 65%);  font-family: 'bFont';
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #0f0c25, #000);
  /* background-image: radial-gradient(circle farthest-corner at 50% 50%, #0D3150, #000); */
  font-weight: var(--bold);
  color: #fff;
  font-family: 'rFont' !important;
  overflow-x: hidden;
  letter-spacing: 5px;
}

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.heroLeftHeadingContainer{
  font-family: 'extraBoldFont' !important;
}

.heroRightContainer{
  width: 100%;
}

.heroRightHeadingContainer{
  font-family: 'extraBoldFont' !important;
}

.heroLeftHeadingText{
  line-height: 0.8;
  font-size: 6rem;
  letter-spacing: 10px;
}

.heroRightHeadingText{
  /* line-height: 0.8 !important; */
  letter-spacing: 10px;
  font-size: 6rem;
}

.heroRightImageContainer{
  /* display: none; */
}

.heroDescText{
  font-size: 1.3rem;
  text-align: center;
}

.heroMobileDescText{
  display: none;
}

.videoContainer{
  position: relative;
  margin-top: 45px; 
  margin-bottom: 45px; 
  width: 100%;
}

.videoWrapper {
  position: absolute;
}

.videoBackground {
  width: 510px;
  height: 120px;
  object-fit: cover;
}

.expHeadingText{
  font-size: 5.5rem;
  text-align: center;
  letter-spacing: 0.2px;
  font-family: 'extraBoldFont';
}

.expDecText{
  font-size: 1.3rem;
  text-align: center;
}

.logoContainer{
  filter: grayscale(1);
}

.m2hLogo{
  height: 100px !important;
  width: 100px !important;
  object-fit: contain;
}

.workPhilosophyHeading{
  font-size: 1.7rem;
  font-family: 'bFont';
  color: #0A33D2;
}

.workPhilosophyDesc{
  font-family: 'bFont';
  font-size: 5rem;
  line-height: 1.4;
}

.workDescContainer{
  width: 70%;
}

.pCard1{
  height: 350px;
  width: 90%;
  /* background: white; */
  border-radius: 13px;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #0f0c25, #000);
}

.pImageNex{
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.pTextContainer{
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.projectDesc{
  padding-top: 10px;
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 1.3rem;
  font-family: 'mFont';
  margin-bottom: 4rem;
}

.cardTitle{
  font-size: 1.7rem;
  text-align: center;
  font-family: 'bFont';
  padding-top: 25px;
}

.cardDesc{
  text-transform: lowercase;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.buttonContainer{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button {
  background-color: rgb(65,50,50);
  color: white;
  font-size: 1.6rem;
  font-family: 'extraLightFont';
  width: 175px;
  height: 50px;
  border-radius: 0.25rem;
  cursor: pointer;
  border-radius: 100px;
  margin: 0px auto;
  text-align: center;
  padding: 5px;
  border-top: 1px solid white;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s box-shadow 0.3s;

}

.button:hover {
  background-color: rgba(23, 37, 84,0.8);
  box-shadow: 0 0 10px   rgba(23, 37, 84,0.8), 
              0 0 20px   rgba(23, 37, 84,0.8), 
              0 0 40px   rgba(23, 37, 84,0.8), 
              0 0 80px   rgba(23, 37, 84,0.8);
  color: #fff;
  border-color: transparent;
}

.contactMainTextContainer{
  width: 58%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.contactMainText{
  font-family: 'extraBoldFont';
  font-size: 9rem;
}

.contactBoxContainer {
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.socialContainer{
  height: 50%;
  width: 50%;
}

.BoxTittle{
  font-size: 2rem;
  font-family: 'bFont';
  text-align: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  gap: 30px;
  overflow: hidden;
}

.socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #333;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

/* Add social media brand colors on hover */
.socialIcon.instagram:hover {
  background-color: #e4405f; 
  box-shadow: 0px -1px 25px rgba(228, 64, 95, 1); 
}

.socialIcon.linkedin:hover {
  background-color: #0077b5; 
  box-shadow: 0px -1px 25px rgba(0, 114, 177, 1); 
}

.socialIcon.github:hover {
  background-color: #777; 
  box-shadow: 0px -1px 25px rgba(51, 51, 51, 1); 
}

.socialIcon.whatsapp:hover {
  background-color: #25d366;
  box-shadow: 0px -1px 25px rgba(37, 211, 102, 1) 
}

/* Increase the size of the icons */
.socialIcon svg {
  width: 40px;
  height: 40px;
  color: #fff;
}

.emoji{
  width: 50%;
  height: 50%;
  background-color: #172554;
  border: none !important;
}

.quote{
  width: 50%;
  height: 50%;
  background-color: #172554;
  border: none !important;
}

.some{
  width: 50%;
  height: 50%;
  border: none !important;
}

.videoContainer1{
  margin-top: 15px;
  width: 100%;
}

.videoBackground1{
  width: 510px;
  height: 180px;
  padding: 0px;
  object-fit: cover;
  margin: 0 0 0 auto;
}

.mail{
  display: flex;
  justify-content: center;
  width: 50%;
}

.btnContainer .btn:hover{
  background: linear-gradient(67deg, rgba(3,7,13,1) 0%, rgba(89,96,97,0.8) 53%, rgba(3,7,13,1) 100%);
  color: #000;
  font-family: 'bFont';
}

.workMobilePhilosophyDesc{
  display: none;
}

@media (max-width: 600px) {
  *{
    padding: 0px !important;
  }

  body{
    background-image: radial-gradient(circle farthest-corner at 100% 50%, #0f0c25, #0f0c25) !important;
  }

  .headerList h6 {
    font-size: 1rem;
  }

  .heroMainContainer{
    flex-direction: column;
    overflow: hidden !important;
  }

  .videoContainer{
    display: none;
  }

  .heroLeftContainer{
    overflow: hidden !important;
    justify-content: center;
    margin: 60px auto;
  }

  .heroLeftHeadingContainer{
    overflow: hidden !important;
  }

  .heroLeftHeadingText{
    margin-top: 20px;
    font-size: 5rem;
    letter-spacing: 0;
  }

  .heroRightContainer{
    align-items: center;
  }

  .heroRightImageContainer{
    width: 100%;
  }

  .heroRightImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heroRightHeadingContainer h1{
    font-size: 5rem;
  }
  
  .heroDownArrowContainer{
    display: none;
  }

  .heroBottomContainer{
    flex-direction: column;
    text-align: center;
  }

  .heroShortDescContainer{
    width: 100%;
    margin: 30px auto;
  }

  .heroDescText{
    display: none;
  }

  .heroMobileDescText{
    display: block;
    font-size: 1.5rem;
    text-align: center;
    padding: 0px 5px !important;

  }

  .expHeadingText{
    font-size: 3.3rem;
  }

  .expDecText{
    font-size: 1.5rem;
    letter-spacing: normal;
    padding: 0px 5px !important;
  }

  .logoContainer{
    gap: 5px !important;
  }

  .logoContainer img{
    width: 120px;
  }

  .logoContainer .m2hLogo{
    width: 102px !important;
    height: 60px !important;
  }

  .workPhilosophyDesc{
    display: none;
  }

  .workDescContainer{
    width: 100% !important;
  }

  .workDescContainer .expDecText{
    padding: 0px 10px !important;
  }

  .workMobilePhilosophyDesc{
    display: flex;
    font-family: 'bFont';
    font-size: 3.3rem;
    line-height: 1.4;
    letter-spacing: normal;
    line-height: normal;
  }

  .pCard1{
    flex-direction: column;
    /* margin-bottom: 180px; */
    height: auto;
  }

  .pImageNex{
    border-radius: 13px;
    height: 240px;
  }

  .cardTitle{
    padding-top: 25px !important;
  }

  .cardDesc{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .button{
    padding: 5px !important;
    letter-spacing: normal;
  }

  .contactMainTextContainer{
    width: 100%;
    padding: 0px 10px !important;
  }

  .contactMainText{
    font-size: 5rem;
  }

  .contactContainer{
    flex-direction: column;
  }

  .contactBoxContainer{
    flex-direction: column;
    height: 1000px;
  }

  .videoContainer1{
    width: 100%;
  }

  .videoWrapper1 {
    width: 100%;
    height: auto; /* Adjust the height to auto to maintain aspect ratio */
  }

  .videoBackground1 {
    width: 100%; /* Set the video width to fill its container */
    height: 180px; /* Let the height adjust proportionally based on the video's aspect ratio */
    padding: 0px;
    object-fit: cover;
    margin: 0 auto;
  }

}